@import "../../style/variables.scss";

.add-task {
	margin: $componentSpacing 0;
	padding-left: $listPadding + $inputPadding; 
	
	button {
		margin-left: 10px;
	}
	
	span.repeat.enabled {
		color: $uiPrimary;
	}
	
	span.repeat.disabled {
		color: #aaa;
	}
}