@import "../../style/variables.scss";

.add-task {
	margin: $componentSpacing 0;
	padding-left: $listPadding + $inputPadding;
	
	@media screen and (max-width: $breakSmall) {
		padding-left: 0;
		
		.container {
			display: table;
			width: 100%;	
		}
		
		input, span.repeat, .wrap {
			display: table-cell;
			box-sizing: border-box;
			width: 1%;
			white-space: nowrap;
		}
		
		input {
			width: 100%;
		}
	}
	
	span.repeat.enabled {
		color: $uiPrimary;
	}
	
	span.repeat.disabled {
		color: #aaa;
		
		&:hover {
			color: black;
		}
	}
}