@import "../../style/variables.scss";

.add-task {
	margin: $componentSpacing 0;
	padding-left: $listPadding + $inputPadding;
	
	.wrap-input, .wrap-button {
		display: inline;
	}
	
	@media screen and (max-width: $breakSmall) {
		padding-left: 0;
		
		.container {
			display: table;
			width: 100%;	
		}
		
		.wrap-input, .toggle, .wrap-button {
			display: table-cell;
			box-sizing: border-box;
			width: 1%;
			white-space: nowrap;
		}
		
		.wrap-input, input {
			width: 100%;
			box-sizing: border-box;
		}
	}
}