@import "../../style/variables.scss";

.task-list {
	ol {
		margin: $componentSpacing 0;
		padding-left: $listPadding;
	}
	
	li {
		padding: 5px 0 5px $inputPadding;
		
		&:first-child {
			padding-top: 0;
		}
		
		&:last-child {
			padding-bottom: 0;
		}
		
		span.repeat.enabled {
			color: $uiPrimary;
		}
		
		span.delete, span.repeat.disabled {
			display: none;
		}
		
		&:hover span {
			display: inline-block !important;
			&.repeat.enabled {
				color: $uiPrimary;
			}
		}
	}
}

.task-anim-enter {
  opacity: 0.01;
  max-height: 0;
  overflow: hidden;
}

.task-anim-enter.task-anim-enter-active {
  opacity: 1;
  max-height: 100px;
  transition: all 300ms ease-in-out;
}

.task-anim-leave {
  opacity: 1;
  transform: translateX(0px);
}

.task-anim-leave.task-anim-leave-active {
  opacity: 0.01;
  transform: translateX(-300px);
  transition: all 300ms ease-in-out;
}