@import "variables.scss";

html {
	font-size: 62.5%;
}

body {
	font-size: 1.6rem;
}

main {
	max-width: 500px;
	padding: 0 50px 20px;
	margin: 0 auto;
}

h1 {
	font-size: 3.2rem;
	line-height: 2.4rem;
	margin: $componentSpacing 0;
}

button {
	background-color: $uiPrimary;
	color: white;
	padding: 15px;
	border: none;
	border-radius: 5px;
	
	&[disabled] {
		background-color: #999;
	}
	
	&.small {
		color: $uiPrimary;
		padding: 10px;
		background: none;
		border: 1px solid $uiPrimary;
	}
}

span.btn {
	display: inline-block;
	padding: 5px;
	color: #666;
	cursor: pointer;
	
	&:hover {
		color: #000;
	}
}

input {
	width: 350px;
	padding: 10px;
	border: 1px solid #eee;
	
	&.was-selected {
		border-color: blue;
	}
	
	&:hover, &:focus {
		border-color: #ccc;
	}
}