@import "variables.scss";

html {
	font-size: 62.5%;
	background-color: #fafafa;
	color: #333;
	-webkit-tap-highlight-color: transparent;
}

body {
	font-size: 1.6rem;
}

main {
	max-width: 500px;
	padding: 0 50px;
	@media screen and (max-width: $breakSmall) {
		padding: 0 15px;
	}
	margin: 0 auto;
}

h1 {
	color: #444;
	font-size: 3.2rem;
	line-height: 2.4rem;
	margin: $componentSpacing 0;
}

.btn {
	border-radius: 5px;
	user-select: none;
}

.btn-primary {
	background-color: $uiPrimary;
	color: white;
	padding: 15px;
	border: none;
	
	@at-root .has-hover &:hover,
	&:active {
		background-color: $uiPrimaryActive;
	}
	
	@at-root .has-hover &[disabled], // Fix specificity
	&[disabled] {
		background-color: #999;
	}
}

.btn-default {
	color: $uiPrimary;
	padding: 10px;
	background: none;
	border: 1px solid $uiPrimary;
	
	@at-root .has-hover &:hover,
	&:active {
		color: $uiPrimaryActive;
		border-color: $uiPrimaryActive;
	}
}

@media screen and (max-width: $breakSmall) {
	.btn-float {
		position: fixed;
		right: 15px;
		top: 20px;
		box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
	}
}

.toggle {
	$padding: 7px;
	
	display: inline-block;
	font-size: 20px;
	padding: $padding;
	color: #aaa;
	cursor: pointer;
	user-select: none;
	
	@at-root .has-hover &:hover,
	&:active {
		color: #000;
	}
	
	&.is-enabled {
		color: $uiPrimary !important;
	}
	
	&:first-of-type {
		padding-left: $padding * 2;
	}
	
	&:last-of-type {
		padding-right: $padding * 2;
	}
}

input {
	width: 340px;
	padding: 10px;
	border: 1px solid #e4e4e4;
	
	@at-root .has-hover &:hover,
	&:focus {
		border-color: #bbb;
	}
	
	// Overwrite iOS default style 
	-webkit-appearance: none;
	border-radius: 0;
}